/*=================
--  GRID STYLES  --
=================*/


#grid {
	width: 100%;
	max-width: 960px;
	display: inline-block;
	margin: 0 auto 110px auto;
}

.big {
    float: left;
    width: 480px;
    height: 480px;
    padding: 0;
    margin: 0;
    background: url(http://placekitten.com/480/480) no-repeat; /* placeholder - à supprimer */
}

.small {
    float: left;
    width: 240px;
    height: 240px;
    padding: 0;
    margin: 0;
	background: url(http://placekitten.com/240/240) no-repeat; /* placeholder - à supprimer */
}

.content h3 {
	font-size: 1.4em;
	color: #d54f58;
	line-height: 30px;
}

.content span {
	color: #d54f58;
	opacity: 1;
}

.big > .content {
	height: 380px;
	padding: 100px 50px 0px 50px;
}

.small > .content {
	height: 210px;
	padding: 30px 25px 0px 25px;
}

.big > .content, .small > .content {
	color: #ac4249;
	background: rgba(255, 255, 255, 0.0);
	text-align: center;
	line-height: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.6s, background-color 0.3s;
	        transition: opacity 0.6s, background-color 0.3s;
}

.big > .content:hover, .small  .content:hover {
	opacity: 1;
	background: rgba(255, 255, 255, 0.7);
}


/*=============================
--  ELEMENT-SPECIFIC STYLES  --
=============================*/
/* Sélectionner l'id de l'élément à modifier, et mettre la miniature voulue - au format 480*480 ou 240*240 - en propriété background. Rajouter ensuite l'id voulu à l'emplacement prévu dnas le fichier index.html */

#exemple {
	background: url(img/example-480.png) no-repeat;
}

