/*==================================
--  FEUILLE DE STYLES PRINCIPALE  --
==================================*/

@font-face {
	font-family: proximaNova;
    src: url(../fonts/proximanovareg.ttf);
}

html {
	width: auto;
	height: auto;
	border: 20px solid #fefefe;
}

body {
	background: #d54f58;
	font-family: proximaNova, "Open Sans", sans-serif;
	color: #fefefe;
	font-size: 16px;
	font-size: 1em;
	max-width: 960px;
	margin: 150px auto 100px auto;
}

span {
	color: #ac4249;
}

a {
	color: #ac4249;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	        transition: all 0.3s;
}

a:hover {
	color: white;
}

.SocialLinks {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.SocialLinks a {
	display: inline-block;
	margin: 0 10px;
	width: auto;
	height: auto;
	padding: 15px;
	border: 3px solid #ac4249;
	border-radius: 100%;
	-webkit-transition: all 0.5s;
	        transition: all 0.5s;
}

.SocialLinks a:hover {
	transform: scale(1.5, 1.5) ;
	-webkit-transform: scale(1.5, 1.5) ;
	-ms-transform: scale(1.5, 1.5);
	border-color: #fefefe;
}

.resumeLink {
	background: url(../img/dossier.png) center no-repeat;
}

.resumeLink:hover {
	background: url(../img/dossierwhite.png) center no-repeat;
}

.mailLink {
	background: url(../img/lol.png) center no-repeat;
}


.mailLink:hover {
	background: url(../img/lolwhite.png) center no-repeat;
}

.vimeoLink {
	background: url(../img/vimeo.png) center no-repeat;
}

.vimeoLink:hover {
	background: url(../img/vimeowhite.png) center no-repeat;
}

.linkedinLink {
	background: url(../img/link.png) center no-repeat;
}

.linkedinLink:hover {
	background: url(../img/linkwhite.png) center no-repeat;
}

.topSocialLinks {
	float: right;
}

.bottomSocialLinks {
	width: 240px;
	margin: 100px auto 0 auto;
}

h1 {
	color: #ac4249;
	font-size: 3.125em;
	text-transform: uppercase;
	white-space: pre-line;
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 150px;
	font-family: proximaNova;
}

h2::before, .topHireMe::before, .bottomHireMe::before, #skillsList > li::before {
	content: "âž ";
}

#bio {
	font-family: proximaNova;
	font-size: 2.06em;
	line-height: 1.4em;
	white-space: pre-line;
	margin-bottom: 52px;
}

.topHireMe {
	font-size: 20px;
	text-decoration: underline;
	margin-bottom: 110px;
}

#gridIntro{
	color: #fefefe;
	font-family: proximaNova;
	font-size: 32px;
	display: block;
	margin-bottom: 30px;
}

/* - Styles pour les filtres (non fonctionnels) -*/
/*#gridFilters {
	color: #fefefe;
	margin-bottom: 50px;
	display: block;
}
#gridFilters .activeFilter {
	color: #fefefe;
	font-style: italic;
}
#gridFilters .activeFilter:hover {
	color: #ac4249;
	font-style: normal;
}
#gridFilters a:hover {
	font-style: italic;
}*/

#skillsIntro {
	color: #fefefe;
	font-family: proximaNova;
	font-size: 32px;
	display: block;
	margin-bottom: 30px;
}

#skillsList {
	font-family: proximaNova;
}

#skillsList li > ul {
	margin-top: 17px;
	margin-bottom: 50px;
}

#skillsList li ul > li {
	display: inline-block;
	margin-right: 5px;
	padding: 15px 20px;
	background-color: #ac4249;
	border-radius: 25px;
	-webkit-transition: all 0.5s;
	        transition: all 0.5s;
}

#skillsList li ul > li:hover {
	background: #fefefe;
	color: #ac4249;
}

#jobSearch {
	font-family: proximaNova;
	font-size: 2.06em;
	line-height: 1.4em;
	margin-bottom: 60px;
}

.bottomHireMe {
	font-size: 20px;
	text-decoration: underline;
	margin-bottom: 110px;
	color: #fefefe;
}

.bottomHireMe:hover {
	color: #ac4249;
}