doctype html
html(dir='ltr' lang='en' class='no-js')
  include includes/head.pug

  body
    div.wrapper
      div.conversation
        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            Hi! My name is #[strong Sébastien Dancer-Michel]. I am a 22 years old French student at #[a(href='https://hetic.net' target='_blank') HETIC], Paris.

        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            I’m a #[strong junior front-end developer], also interested in UI/UX design and generative design.
          p.
            Aside from web stuff, I have been playing handball since I was 11, I love cats and red pandas. I am deeply in love with #[a(href='https://www.google.fr/search?safe=off&biw=1440&bih=983&tbm=isch&sa=1&btnG=Rechercher&q=toulouse#q=toulouse&safe=off&tbm=isch&tbs=isz:l&*' target='_blank') Toulouse], my hometown.

        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            I #[a(href='https://twitter.com/far0s' target='_blank') tweet] everyday, and I try to #[a(href='https://medium.com/@Far0s' target='_blank') write] when I can. I #[a(href='https://instagram.com/far0s' target='_blank') post pics] of my cats and sometimes #[a(href='https://www.behance.net/sebdancermichel' target='_blank') publish] my design work. But most of all, I #[a(href='https://github.com/far0s' target='_blank') code].

        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            Oh! And I’m looking for a #[strong 3 to 4 months internship starting July 2017 as a front-end developer], feel free to contact me on the internets (#[a(href='mailto:s.dancermichel@gmail.com') or by mail]) 😎

        div.conversation__bubble.conversation__bubble--general.conversation__bubble--small.hidden
          p ❤️

        div.conversation__bubble.conversation__bubble--loader.conversation__bubble--small.hidden
          div.loader
            div.dot.dot1
            div.dot.dot2
            div.dot.dot3
            div.dot.dot4

    div.reactions.hidden
      div.reaction__button(onclick='clickReaction(this)' data-reaction='🍆')
        p 🍆
      div.reaction__button(onclick='clickReaction(this)' data-reaction='😸')
        p 😸
      div.reaction__button(onclick='clickReaction(this)' data-reaction='🎧')
        p 🎧
  script(src='js/app.min.js')
  script(type='text/javascript').
    function scrollToLastBubble () {
      document.querySelector('.conversation__bubble:last-of-type').scrollIntoView({
        behavior: 'smooth' // smooth doesn't work, maybe find an alternative for the smooth effect
      });
    }
    // on reactionButton click, generate reaction bubble in the general tree and put back the bubble loader
    function clickReaction (e) {
      var dataReaction = e.getAttribute('data-reaction');
      var reactionBubbleEcho = '<div class="reaction__button"><p>' + dataReaction + '</p></div>';
      var loaderBubbleEcho = '<div class="conversation__bubble conversation__bubble--loader conversation__bubble--small"><div class="loader"><div class="dot dot1"></div><div class="dot dot2"></div><div class="dot dot3"></div><div class="dot dot4"></div></div></div>';

      document.querySelector('.reactions').classList.add('hidden');
      document.querySelector('.conversation__bubble--loader').parentNode.removeChild(document.querySelector('.conversation__bubble--loader'));
      window.setTimeout(function () {document.querySelector('.conversation').insertAdjacentHTML('beforeend', reactionBubbleEcho)}, 500);
      scrollToLastBubble();
      window.setTimeout(function () {document.querySelector('.conversation').insertAdjacentHTML('beforeend', loaderBubbleEcho)}, 1000);
      scrollToLastBubble();
      answerTheQuestion(dataReaction);
    };

    // calls the creation of a bubble, at the end of a defined container
    function createBubble (container, content) {
      window.setTimeout(function () {
        document.querySelector('.conversation__bubble--loader').parentNode.removeChild(document.querySelector('.conversation__bubble--loader'));
        container.insertAdjacentHTML('beforeend', '<div class="conversation__bubble conversation__bubble--general"><p>' + content + '</p></div>');
      }, 1500);
    };

    // function called to instantiate the answer to reaction button called previously
    function answerTheQuestion (dataReaction) {
      var conversation = document.querySelector('.conversation');
      switch (dataReaction) {
        case '🍆':
          var content = '';
          createBubble(conversation, content);
          window.setTimeout(function () {
            scrollToLastBubble();
            document.querySelector('.reactions').classList.remove('hidden');
          }, 1550);
          break;
        case '😸':
          var content = '';
          createBubble(conversation, content);
          window.setTimeout(function () {
            scrollToLastBubble();
            document.querySelector('.reactions').classList.remove('hidden');
          }, 1550);
          break;
        case '🎧':
          var content = '';
          createBubble(conversation, content);
          window.setTimeout(function () {
            scrollToLastBubble();
            document.querySelector('.reactions').classList.remove('hidden');
          }, 1550);
          break;
        default:
          return true;
      }
    };
