doctype html
html(dir='ltr' lang='en' class='no-js')
  include includes/head.pug

  body
    div.wrapper
      div.conversation
        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            Hi! My name is #[strong Sébastien Dancer-Michel]. I am a 22 years old French student at #[a(href='https://hetic.net' target='_blank') HETIC], Paris.

        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            I’m a #[strong junior front-end developer], also interested in UI/UX design and generative design.
          p.
            Aside from web stuff, I have been playing handball since I was 11, I love cats and red pandas. I am deeply in love with #[a(href='https://www.google.fr/search?safe=off&biw=1440&bih=983&tbm=isch&sa=1&btnG=Rechercher&q=toulouse#q=toulouse&safe=off&tbm=isch&tbs=isz:l&*' target='_blank') Toulouse], my hometown.

        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            I #[a(href='https://twitter.com/far0s' target='_blank') tweet] everyday, and I try to #[a(href='https://medium.com/@Far0s' target='_blank') write] when I can. I #[a(href='https://instagram.com/far0s' target='_blank') post pics] of my cats and sometimes #[a(href='https://www.behance.net/sebdancermichel' target='_blank') publish] my design work. But most of all, I #[a(href='https://github.com/far0s' target='_blank') code].

        div.conversation__bubble.conversation__bubble--general.hidden
          p.
            Oh! And I’m looking for a #[strong 3 to 4 months internship starting July 2017 as a front-end developer], feel free to contact me on the internets (#[a(href='mailto:s.dancermichel@gmail.com') or by mail]) 😎

        div.conversation__bubble.conversation__bubble--general.conversation__bubble--small.hidden
          p ❤️

    div.reactions.hidden
      div.reaction__button(onclick='clickReaction(this)' data-reaction='😸')
        p 😸
      div.reaction__button(onclick='clickReaction(this)' data-reaction='🎧')
        p 🎧
      div.reaction__button(onclick='clickReaction(this)' data-reaction='🍆')
        p 🍆
  script(src='js/app.min.js')
  script(type='text/javascript').
    function scrollToLastBubble () {
      document.querySelector('.conversation__bubble:last-of-type').scrollIntoView({
        behavior: 'smooth'
      });
    }
    // on reactionButton click, generate reaction bubble in the general tree and put back the bubble loader
    function clickReaction (e) {
      var dataReaction = e.getAttribute('data-reaction');
      var reactionBubbleEcho = '<div class="reaction__button"><p>' + dataReaction + '</p></div>';
      var loaderBubbleEcho = '<div class="conversation__bubble conversation__bubble--loader conversation__bubble--small"><div class="loader"><div class="dot dot1"></div><div class="dot dot2"></div><div class="dot dot3"></div><div class="dot dot4"></div></div></div>';

      document.querySelector('.reactions').classList.add('hidden');
      if (document.querySelector('.conversation__bubble--loader')) {
        document.querySelector('.conversation__bubble--loader').parentNode.removeChild(document.querySelector('.conversation__bubble--loader'));
      };
      window.setTimeout(function () {
        document.querySelector('.conversation').insertAdjacentHTML('beforeend', reactionBubbleEcho);
        scrollToLastBubble();
      }, 500);
      window.setTimeout(function () {
        document.querySelector('.conversation').insertAdjacentHTML('beforeend', loaderBubbleEcho);
        scrollToLastBubble();
      }, 1000);
      answerTheQuestion(dataReaction);
    };

    // calls the creation of a bubble, at the end of a defined container
    function createBubble (container, content) {
      window.setTimeout(function () {
        if (document.querySelector('.conversation__bubble--loader')) {
          document.querySelector('.conversation__bubble--loader').parentNode.removeChild(document.querySelector('.conversation__bubble--loader'));
        };
        container.insertAdjacentHTML('beforeend', '<div class="conversation__bubble conversation__bubble--general">' + content + '</div>');
      }, 1500);
    };

    // function called to instantiate the answer to reaction button called previously
    function answerTheQuestion (dataReaction) {
      var conversation = document.querySelector('.conversation');
      switch (dataReaction) {
        case '😸':
          var content = '<p>I love cats. I have two little angels named Malice and Chanelle. They\'re both in Toulouse with my parents, and I miss them so much. So if you have a cat, don\'t worry if I want to hug them when I see them, okay?</p><img src="images/chanelle.jpg" alt="Chanelle">';
          var content2 = '<p>Also, can someone explain to me why there isn\'t any red panda emoji ? 🤔</p>';
          createBubble(conversation, content);
          createBubble(conversation, content2);
          window.setTimeout(function () {
            scrollToLastBubble();
            document.querySelector('.reactions').classList.remove('hidden');
          }, 1550);
          break;
        case '🎧':
          var content = '<p>I\'ve been listening to a lot of <a href="https://www.youtube.com/watch?v=JXo1LWv6kO8" target="_blank">Superpoze</a> recently.</p><p>I wrote <a href="https://medium.com/@Far0s/thousand-exploding-suns-71a914e62ec7#.ndbhq5fjx" target="_blank">a few words</a> about it too!</p><img src="images/superpoze.jpg" alt="Superpoze">';
          var content2 = '<p><a href="https://www.youtube.com/watch?v=M94vOyffoqs" target="_blank">Lemaitre</a> and <a href="https://www.youtube.com/watch?v=p-ZvHDaR72Q" target="_blank">French79</a> are frequently popping in my queue too!</p><img src="images/lemaitre.jpg" alt="Lemaitre">';
          createBubble(conversation, content);
          createBubble(conversation, content2);
          window.setTimeout(function () {
            scrollToLastBubble();
            document.querySelector('.reactions').classList.remove('hidden');
          }, 1550);
          break;
        default:
          return true;
        case '🍆':
          var content = '<p><em>But you know, I do not think there are good or bad situations. If I were to summarize my life, today with you, I would say that it was at first encounters, people who held out my hand to me at a time when I could not, when I was alone. And it is curious enough to think that chance, encounters forge a destiny. Because when one has the taste for the thing, when one has the taste of the thing well done, the beautiful gesture, sometimes one does not find the opposite, I would say the mirror that helps you move forward.</em></p>';
          var content2 = '<p><em>So I do not, as I said, since I could, and I say thank you to life, I say thank you, I sing life, I dance life, I am only love. And finally when many people today tell me: "But how do you do to have this humanity? "Well, I answer them very simply, I say to them:" It is this taste of love ", that taste, that pushed me today to undertake a mechanical construction, but tomorrow who knows? Maybe simply to put myself at the service of the community, to give the gift, the gift of self.</em></p>';
          var content3 = '<p><em>— <a href="https://youtu.be/X2-bXTl1-mo" target="_blank">Otis</a></em></p>';
          createBubble(conversation, content);
          createBubble(conversation, content2);
          createBubble(conversation, content3);
          window.setTimeout(function () {
            scrollToLastBubble();
            document.querySelector('.reactions').classList.remove('hidden');
          }, 1550);
          break;
      }
    };
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-37038680-3', 'auto');
    ga('send', 'pageview');
