/*===========================
GENERAL AND INDEX.HTML STYLES
===========================*/

html {
	width: 100%;
	height: 100vh;
	font-family: Menlo, Arial, 'sans-serif';
	color: #175;
	background-color: rgba(17, 119, 85, 0.05);
	font-size: 20px;
	text-align: center;
	max-width: 768px;
	width: 100%;
	height: 100%;
	margin: auto;
}

header img {
	border-radius: 50%;
	margin: 40px auto 20px auto;
	max-width: 150px;
	border: 5px solid rgba(17, 119, 85, 0.6);
}

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 20px;
	font-style: italic;
	font-weight: bold;
}

h3 {
	font-size: 1.1em;
	margin-bottom: 20px;
	font-style: italic;
}

p {
	line-height: 1.35em;
	letter-spacing: 0.5px;
	text-align: left;
	margin-bottom: 1em;
	transition: 0.5s;
}

section {
	background-color: rgba(17, 119, 85, 0.1);
	padding: 35px 25px;
	border-radius: 4px;
	border-bottom: 4px solid rgba(17, 119, 85, 0.4);
	margin: 40px auto;
}

.learn-more {
	font-size: 0.8em;
	line-height: 1.35em;
	color: rgba(17, 119, 85, 0.6);
	border-color: rgba(17, 119, 85, 0.6);
}

.learn-more::before {
	content: "âž ";
	font-size: 1.2em;
}

.learn-more:hover {
	background-color: rgba(17, 119, 85, 0.6);
	border-bottom-color: transparent;
}

a {
	color: #117755;
	text-decoration: none;
	transition: 0.3s ease-in-out;
	padding: 5px 5px 0 5px;
	border-bottom: 3px solid #117755;
}

a:hover {
	color: #fefefe;
	background-color: #117755;
}

.suaudeau {
	background: url(../img/thumb_suaudeau.png)center no-repeat;
}

.thumbnail {
	width: 100%;
	height: 450px;
	background-size: cover;
	border:none;
	transition: 0.5s;
	margin-bottom: 20px;
	border-bottom: 4px solid rgba(17, 119, 85, 0.4);
	border-radius: 4px;
}

.thumbnail a {
	padding: 213px 190px;
	opacity: 0;
	position: relative;
	top: 215px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: none;
}

.thumbnail a:hover {
	opacity: 1;
	color: #fefefe;
	background-color: rgba(17, 119, 85, 0.5);
}

footer {
	text-align: center;
	font-size: 0.6em;
	margin: 80px auto 10px auto;
}


/*========================
ABOUT.HTML SPECIFIC STYLES
========================*/

header a {
	border: none;
	transition: 0.3s;
}

header a:hover {
	border: none;
	background: transparent;
}

header a>img {
	transition: 0.3s ease-in-out;
}

header a>img:hover{
	background-color: rgba(17, 119, 85, 1);
}

.back-index {
	color: #117755;
	padding: 5px 10px;
	border-radius: 4px;
	border: 4px solid rgba(17, 119, 85, 0.4);
	font-size: 0.9em;
}

.back-index:hover {
	color: #fefefe;
	background-color: rgba(17, 119, 85, 0.4);
	border: 4px solid rgba(17, 119, 85, 0.4);
}

.underline {
	text-decoration: underline;;
}

/*=======================
WORK.HTML SPECIFIC STYLES
=======================*/
