/* http://sdancermichel.me — v0.3, conçu par Sébastien Dancer-Michel, feuille de style CSS principale rattachée à index.html — 23/11/2014*/

/*================================== 
BASIC ELEMENTS and TYPOGRAPHY styles
==================================*/
body {
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
  	font-size: 1em;
  	text-align: center;
	color: #677179;
	background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */
    background-size: cover;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  	color: #111;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

#bio a, #parcours a, #portfolio a, #footer a, #lonelyLink {
	font-weight: bold;
	border-bottom: 0px solid #1394BF;
	transition: all .3s;
}

a, a:visited, a:active {
	text-decoration: none;
	color: #1394BF;
}

#bio a:hover, #parcours a:hover, #portfolio a:hover, #footer a:hover, #lonelyLink:hover {
	border-bottom: 3px solid #1394BF;
	border-radius: 3px;
}



/*=========== 
HEADER styles
===========*/
#topBar {
	margin: 0 auto;
}

#topName {
	display: block;
	color: white;
	font-size: 3em;
	margin: 30px 0;
	text-shadow: #213d5c 0px 5px 45px;
}

#topBar img {
	max-height: 120px;
	max-height: 120px;
	border: 5px solid white;
	border-radius: 100%;
	margin-bottom: 10px;
	box-shadow: #213d5c 0px 5px 29px -2px;
	display: block;
	margin: auto;
	transition: all 0.3s ease;
}

#topBar img:hover {
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}



/*=====================
CONTAINER + TABS styles
=====================*/
#container {
	width: 730px;
	height: 400px;
	border: none;
	border-radius: 5px;
	background-color: white;
	box-shadow: #213d5c 0px 5px 29px -2px;
	margin: 40px auto 50px auto;
	padding: 30px;
}

#container > h1 {
	display: inline-block;
	margin: 0;
	padding: 8px 12px;
	border-bottom: 0px solid;
	font-weight: bold;
	font-size: 15px;
	color: #1394BF;
	cursor: pointer;
	transition : all .5s;
}

#container > h1:hover {
	border-bottom: 5px solid #1394BF;
	border-radius: 3px;
}

#container > h1.active {
  	position: relative;
  	z-index: 1;
  	background: #fff;
  	border-bottom: 5px solid #1394BF;
  	border-radius: 3px;
}

#container > p {
  	position: absolute;
  	display: none;
  	width: 620px;
  	left: calc(50% - 310px); 
  	padding-top: 28px;
  	border-top: 1px solid #E9EBED;
}

#container h1.active + p {
  	display: block;
}



/*==============================
#BIO, #PARCOURS, #CONTACT styles
==============================*/
#container #bio {
	line-height: 35px;
}

#container #parcours {
	line-height: 30px;
	text-align: justify;
}

#contact i {
	color: #1394BF;
	margin: 50px 10px;
	border-bottom: 0px solid #1394BF;
	transition : all .5s;
}

#contact i:hover {
	border-bottom: 10px solid #1394BF;
	border-radius: 5px;
}

/*===============
THUMBNAILS styles
===============*/
.thumbnail {
	width: 180px;
	height: 90px;
	margin: 5px;
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.1s linear;
}

.one {
	background: url('../img/portfolio/kitten1.jpg');
	background-position: 50% 50%;
}

.two {
	background: url('../img/portfolio/kitten2.jpg');
	background-position: 50% 50%;
}

.three {
	background: url('../img/portfolio/kitten3.jpg');
	background-position: 50% 50%;
}

.four {
	background: url('../img/portfolio/kitten4.jpg');
	background-position: 50% 50%;
}

.five {
	background: url('../img/portfolio/kitten5.jpg');
	background-position: 50% 50%;
}

.six {
	background: url('../img/portfolio/kitten6.jpg');
	background-position: 50% 10%;
}

.seven {
	background: url('../img/portfolio/kitten7.jpg');
	background-position: 50% 10%;
}

.eight {
	background: url('../img/portfolio/kitten8.jpg');
	background-position: 50% 50%;
}

.nine {
	background: url('../img/portfolio/kitten9.jpg');
	background-position: 50% 50%;
}

.one, .two, .three, .four, .five, .six, .seven, .height, .nine {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}


.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover {
	background-size: 110%;
}



/*============
OVERLAY styles
============*/
#overlayOne, #overlayTwo, #overlayThree, #overlayFour, #overlayFive, #overlaySix, #overlaySeven, #overlayEight, #overlayNine {
	opacity: 0;
	position: absolute;
 	overflow: hidden;
  	top: 5px;
  	right: 0;
  	bottom: 0;
  	left: 0;
	width: 570px;
	height: 330px;
	margin: auto;
	z-index: -1;
	transition: .5s;
}

#overlayOne.open, #overlayTwo.open, #overlayThree.open, #overlayFour.open, #overlayFive.open, #overlaySix.open, #overlaySeven.open, #overlayEight.open, #overlayNine.open {
	opacity: 1;
	z-index: 1;
	background-color: white;
	border-radius: 5px;
}

#overlayOne a , #overlayTwo a, #overlayThree a, #overlayFour a, #overlayFive a, #overlaySix a, #overlaySeven a, #overlayEight a, #overlayNine a {
	color: grey;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0px;
}

#overlayOne a:hover , #overlayTwo a:hover, #overlayThree a:hover, #overlayFour a:hover, #overlayFive a:hover, #overlaySix a:hover, #overlaySeven a:hover, #overlayEight a:hover, #overlayNine a:hover {
	color: black;
}

#overlayOne img, #overlayTwo img, #overlayThree img, #overlayFour img, #overlayFive img, #overlaySix img, #overlaySeven img, #overlayEight img, #overlayNine img {
	float: left;
	margin-top: 30px;
	border-radius: 3px;
	width: 360px;
	height: 300px;
}

#overlayOne h2 , #overlayTwo h2, #overlayThree h2, #overlayFour h2, #overlayFive h2, #overlaySix h2, #overlaySeven h2, #overlayEight h2, #overlayNine h2 {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

.close {
	margin-top: 5px;
	color: lightgrey;
	transition: .5s;
}

.close:hover {
	color: grey;
}

#overlayOne p, #overlayTwo p, #overlayThree p, #overlayFour p, #overlayFive p, #overlaySix p, #overlaySeven p, #overlayEight p, #overlayNine p {
	display: block;
	margin-top: 60px;
	text-align: left;
	margin-left: 380px;
}



/*===========
FOOTER styles
===========*/
#footer {
	display: block;
	margin-top: 350px;
	font-size: 0.8em;
}

#footer a:hover {
	border-bottom: 3px solid #1394BF;
}



/*===============
ANIMATIONS styles
===============*/
.animated {
	-webkit-animation-name: animated;
	   -moz-animation-name: animated;
	    -ms-aniamtion-name: animated;
	     -o-animation-name: animated;
	        animation-name: animated;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
       -moz-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
         -o-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	   -moz-animation-name: fadeInDown;
	    -ms-animation-name: fadeInDown;
	     -o-animation-name: fadeInDown;
	        animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
	0%   { opacity: 0; -webkit-transform: translateY(-50px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-moz-keyframes fadeInDown {
	0%   { opacity: 0; -moz-transform: translateY(-50px); } 
	100% { opacity: 1; -moz-transform: translateY(0); }
}

@-o-keyframes fadeInDown {
	0%   { opacity: 0; -o-transform: translateY(-50px); }
	100% { opacity: 1; -o-transform: translateY(0); }
}

@keyframes fadeInDown {
	0%   { opacity: 0; transform: translateY(-50px); }
	100% { opacity: 1; transform: translateY(0); }
}



/*===========
MEDIA QUERIES
===========*/

@media only screen and (min-device-width: 640px) and 
  (max-device-width: 1136px) and
  (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 5 only – at least for now */

/*    body {
    	width: 100%;
		height: 100%;
		font-family: Arial, sans-serif;
	  	font-size: 1em;
	  	text-align: center;
		color: #677179;
	    background-size: cover;
		box-sizing: border-box;
    }

    #topName {
		font-size: 1.2em;
		color: red;
    }

    .container {
    	width: 100%;
    	margin: 0;
    	display: none;	
    }*/
}




